<div class="main-body">
    <app-new-game (startGame)="player.generateNewPlayer($event)"></app-new-game>
    <app-player-stats #player (damageEnemy)="enemy.takeDamage($event)"></app-player-stats>
    <app-enemy-stats #enemy (damagePlayer)="player.takeDamage($event); buttons.reEnableAttack();" (enemyDies)="equip.generateRandomEquipment($event); rooms.generateNewRooms();"></app-enemy-stats>
    <app-combat-action #buttons (attack)="player.playerAttack(false)" (cast)="player.playerAttack(true)"></app-combat-action>
    <app-new-equipment #equip (equip)="player.equipToPlayer($event)"></app-new-equipment>
    <app-combat-log #log></app-combat-log>
</div>
