<div class="new-game-shadow" *ngIf="!gameStarted">
    <div class="new-game-menu">
        <div>Enter Thine Name</div>
          <input [(ngModel)]="playerName" type="text" maxlength="20">
          <button (click)="startNewGame()">Start!</button>
      </div>  
</div>
<div class="game-over" *ngIf="gameOver">
    {{name}} has died...<BR>
    Your score was {{getScore()}}!
    <div class="new-game-button" (click)="startNewGame()">
        New Game
    </div>
</div>

<div class="game-over" *ngIf="youWin">
        {{name}} has defeated all the Gremlins!!<BR>
        Your score is {{getScore()}}!
    </div>
